.dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.dash_tabs {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
}

.dash_tab {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.dash_container {
  flex: 1;
  padding: 10px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dash_tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dash_tabs::-webkit-scrollbar {
    display: none;
  }

  .dash_tab {
    width: 200px;
    flex-shrink: 0;
    height: 60px;
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
}
